<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788050152285-363jms02q1fpj84pak22c2o1ldrd8ali.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788050152285-363jms02q1fpj84pak22c2o1ldrd8ali</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788050152285-e6m4tt35k62ueg0rp1nc2hm6gii0rnvb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgUeZ_tXVholdWqu1tmBc4p3Cb4axKZik</string>
	<key>GCM_SENDER_ID</key>
	<string>788050152285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NewBieCare.App</string>
	<key>PROJECT_ID</key>
	<string>newbiecare-301de</string>
	<key>STORAGE_BUCKET</key>
	<string>newbiecare-301de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788050152285:ios:beee0195a41991039b36b4</string>
</dict>
</plist>